In [1]:
%pylab inline
import twx

Populating the interactive namespace from numpy and matplotlib

In [2]:
date = '20150211'
tickers = ['AAPL', 'msft']
event = 'time: 11am 11:05am 5m'
query = 'daily.open'
data = twx.bookquery(date, ticker, event, query)
data.columns = ['close']

#plot(data.mid, color='g')

In [44]:
data.head()

                      close
datetime
2015-02-11 11:00:00  112.98

In [45]:
sdate = datetime.date(2010, 4, 1)   # start date
edate = datetime.date(2020, 4, 1)   # end date

dates = [sdate + datetime.timedelta(days=i) for i in range((edate - sdate).days + 1)]

table = [[date, 'AAPL'] for date in dates]
data = twx.bookjoin(table, 'daily.open' ,symbol= 'AAPL' )

            0     1  daily.open
0  2014-08-12  AAPL      41.453
1  2014-08-13  AAPL      41.453
2  2014-08-14  AAPL      41.453

In [ ]:
P = 100